- gallery_image = ["buzos-morley.jpg","buzos-urban.jpg","buzos-tommy.jpg.jpg","buzo-urban.jpg","campera-mujer.jpg","campera.jpg","campera-peluche-bordo.jpg.jpg","cargo-negro.jpg.jpg","cargo.jpg","cargo-beige.jpg.jpg","cargo-marron.jpg.jpg","cargo-verde-militar.jpg.jpg","chaleco-cuero.jpg.jpg","chino3.jpg.jpg","chino4.jpg.jpg","chino5.jpg.jpg","chino6.jpg.jpg","chino-azul.jpg.jpg","chino-negro.jpg.jpg","chombas.jpg.jpg","malla1.jpg.jpg","malla2.jpg.jpg","malla3.jpg.jpg","malla4.jpg.jpg","malla5.jpg.jpg","malla6.jpg.jpg","malla7.jpg.jpg","malla8.jpg.jpg","Mallas.jpg.jpg","morley-ml-marron.jpg.jpg","morley-ml-negra.jpg.jpg","morley-ml-rosa.jpg.jpg","morley-ml-verde.jpg.jpg","musculosa-morley-rosa.jpg.jpg","musculosa-morley-gris.jpg.jpg","musculosa-morley-lila.jpg.jpg","musculosa-morley-negra.jpg.jpg","musculosa-morley-roja.jpg.jpg","musculosa-morley.jpg.jpg","pantalon-luminoso.jpg.jpg","pantalon-luminoso2.jpg.jpg","remera-morley-manga-larga.jpg.jpg","remera-estampada.jpg.jpg","remera-mariposa.jpg.jpg","remera-marron.jpg.jpg"]
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %title Alana Indumentaria
    %meta{name:"description", content:"Viste diferente, vestite bien"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %meta{:"data-name" => "image-counter", content: gallery_image.length}

    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/bootstrap.css"}
    %link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"}
    %link{href:"https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap", rel:"stylesheet"}
    %link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.1/flexboxgrid.min.css"}
    %link{rel:"stylesheet", href:"css/styles.css"}
    %link{rel:"stylesheet", href:"https://unpkg.com/leaflet/dist/leaflet.css"}

  %body
    .video-container
      %video{autoplay:true, loop:true, muted:true, width:"1280", height:"720"}
        %source{src:"videos-fotos/mp4/ropa2.mp4", type:"video/mp4"}
        %source{src:"videos-fotos/webm/ropa2.webm", type:"video/webm"}

    .row.full-height.middle-xs.center-xs.relative.up#home
      .col-xs-12
        .box.white-text
          %img{src:"logo/LogoNuevo.png", width:600, class:"logo"}
          %h1.dancing-script.title.no-margin Alana Indumentaria
          %p#is-open
            %a{href:"#carrito"}
              %i.bi.bi-cart.white-text.subtitle
              %span.white-text.medium Compranos ahora

        - menu = [{title:"Home", link:"#home"}, {title:"Productos", link:"#menu"}, {title:"Galeria", link:"#gallery"}, {title:"Contacto", link:"#contacto"}, {title:"Como llegar", link:"#location"}]
      .absolute.black.large-padding.white-text.full-width#description
        .row.middle-xs.center-xs
          .col-xs-6.col-sm-6.white-text.medium
            VESTITE BIEN CON NOSOTROS
          .col-xs-6.col-sm-6.text-right
            .box
              %nav.text-right.navigation#sticky-nav
                %i.bi.bi-list.white-text.subtitle#menu-opener
                %ul.list-inline
                  - menu.each do |item|
                    %li
                      %a.menu-link.white-text{href:item[:link]}= item[:title]

    .text-center.relative#menu
      .white#menu-title
        %h2.dancing-script.title Productos

      .row
        %a{href:"#mallas", class:"category-link"}
          .col-md-4.col-lg-3.col-sm-6.col-xs-12.clothes{style:"background-image:url(videos-fotos/imagenes/ropa/Mallas.jpg.jpg)"}
            .screen
              .row.middle-xs.full-height
                .col-xs-12.white-text
                  %h3.dancing-script.subtitle Mallas
                  %p.no-margin $6.000

        %a{href:"#buzos", class:"category-link"}
          .col-md-4.col-lg-3.col-sm-6.col-xs-12.clothes{style:"background-image:url(videos-fotos/imagenes/ropa/buzos-morley.jpg)"}
            .screen
              .row.middle-xs.full-height
                .col-xs-12.white-text
                  %h3.dancing-script.subtitle Buzos
                  %p.no-margin $10.000

        %a{href:"#pantalones", class:"category-link"}
          .col-md-4.col-lg-3.col-sm-6.col-xs-12.clothes{style:"background-image:url(videos-fotos/imagenes/ropa/cargo.jpg)"}
            .screen
              .row.middle-xs.full-height
                .col-xs-12.white-text
                  %h3.dancing-script.subtitle Cargos
                  %p.no-margin $10.000

        %a{href:"#Remeras", class:"category-link"}
          .col-md-4.col-lg-3.col-sm-6.col-xs-12.clothes{style:"background-image:url(videos-fotos/imagenes/ropa/remera-morley-manga-larga.jpg.jpg)"}
            .screen
              .row.middle-xs.full-height
                .col-xs-12.white-text
                  %h3.dancing-script.subtitle Remeras-morley-mujer
                  %p.no-margin $10.000

    #gallery
      .inner
        - gallery_image.each do |img|
          .image{style:"background-image:url(videos-fotos/imagenes/ropa/#{img});"}

    #pantalones
      %h2 Pantalones
      .row
        - pantalones = ["cargo-negro.jpg.jpg","cargo.jpg","cargo-beige.jpg.jpg","cargo-marron.jpg.jpg","cargo-verde-militar.jpg.jpg"]
        - pantalones.each do |img|
          .col-md-4.col-sm-6.col-xs-12
            .clothes{style:"background-image:url(videos-fotos/imagenes/ropa/#{img});"}
              .screen
                .row.middle-xs.full-height
                  .col-xs-12.white-text
                    %h3 Cargos

    #mallas
      %h2 Mallas
      .row
        - mallas = ["malla1.jpg.jpg","malla2.jpg.jpg","malla3.jpg.jpg","malla4.jpg.jpg","malla5.jpg.jpg","malla6.jpg.jpg","malla7.jpg.jpg","malla8.jpg.jpg","Mallas.jpg.jpg"]
        - mallas.each do |img|
          .col-md-4.col-sm-6.col-xs-12
            .clothes{style:"background-image:url(videos-fotos/imagenes/ropa/#{img});"}
              .screen
                .row.middle-xs.full-height
                  .col-xs-12.white-text
                    %h3 Mallas

    #buzos
      %h2 Buzos
      .row
        - buzos = ["buzos-morley.jpg","buzos-urban.jpg","buzos-tommy.jpg.jpg","buzo-urban.jpg"]
        - buzos.each do |img|
          .col-md-4.col-sm-6.col-xs-12
            .clothes{style:"background-image:url(videos-fotos/imagenes/ropa/#{img});"}
              .screen
                .row.middle-xs.full-height
                  .col-xs-12.white-text
                    %h3 Buzos

    #Remeras
      %h2 Remeras-morley
      .row
        - remerasmorley = ["morley-ml-marron.jpg.jpg","morley-ml-negra.jpg.jpg","morley-ml-rosa.jpg.jpg","morley-ml-verde.jpg.jpg","musculosa-morley-rosa.jpg.jpg","musculosa-morley-gris.jpg.jpg","musculosa-morley-lila.jpg.jpg","musculosa-morley-negra.jpg.jpg","musculosa-morley-roja.jpg.jpg","musculosa-morley.jpg.jpg"]
        - remerasmorley.each do |img|
          .col-md-4.col-sm-6.col-xs-12
            .clothes{style:"background-image:url(videos-fotos/imagenes/ropa/#{img});"}
              .screen
                .row.middle-xs.full-height
                  .col-xs-12.white-text
                    %h3 Remeras

    .container
      .white-text.black-text.text-center.relative
        %h3.medium.slim
          ALANA INDUMENTARIA
          %strong.dancing-script.medium VISTE DIFERENTE, MARCA LA DIFERENCIA

    .black.black-text#contact
      .row.middle-xs.center-xs
        .col-xs-12.col-sm-6
          .box
            %p.text-center.medium.white-text#info-contacto Dejanos tus dudas o comentarios
            %form{action:"https://formspree.io/lautaroscarselletta1234@gmail.com", method:"POST", id:"contacto", class:"step-form"}
              .row.middle-xs
                .col-xs-3.col-sm-2
                  .steps-container
                    - 3.times do |i|
                      - if i == 0
                        .path-step.active
                      - else
                        .path-step
                .col-xs-12.col-sm-2
                  .contact-item
                    %i.class.bi.bi-telephone.medium.white-text
                    %p.medium.white-text 2215426591
                  .contact-item
                    %i.class.bi.bi-geo-alt.medium.white-text
                    %p.medium.white-text La Plata,Buenos Aires
                  .contact-item
                    %i.class.bi.bi-instagram.medium.white-text
                    %p.medium.white-text alana.indumentaria.1

                
    #location
      #map
      #message.black.large-padding.text-center.medium
    %script{src:"https://code.jquery.com/jquery-3.0.0.min.js", crossorigin:"anonymous"}
    %script{src:"https://unpkg.com/leaflet/dist/leaflet.js"}
    %script{src:"dist/maps.js"}
    %script{src:"dist/main.js"}
    %script{src:"dist/step.js"}